body {
  font: 14pt Courier, Helvetica, Arial, sans-serif;
  text-align:center;
}

h1 {
	margin:0;
	font-size:32pt;
	font-family: Georgia;
}

input {
	font-size:24pt;
	font-family: Helvetica;
}
.api { font-size:0.7em;}
#main {
	margin:60px;
}
